.chart {
    width: 20%;
    height: 300px;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

@media (max-width: 980px) {
    .chart {
        width: 25%;
        height: 200px;
        margin: 0%;
    }
}

@media (max-width: 750px) {
    .chart {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .chart {
        height: 180px;
    }
}